.ui.placeholder .header:not(:first-child):before {
    height: 0 !important;
}
.brand-name:hover, .product-card:hover, .category:hover, .carousel-dots:hover, .my-cart:hover {
    cursor: pointer;
}
.product-image {
    max-height: 100%;
    max-width: 100%;
}
.product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 20vw;
}
.category {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.cart-total-item-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.cart-total-item-row-left {
    width: 70%;
    margin-right: 2rem;
}
.cart-total-item-row-right {
    width: 30%;
    align-self: flex-end;
    text-align: right;
}